# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/uw_server/.settings
/.metadata/
/.recommenders
/RemoteSystemsTempFiles
/uw_server/target/
/uw_server/target/classes/.gitignore
/uw_server/target/classes/log4j.properties
/uw_server/target/classes/properties.ini
/uw_server/target/m2e-wtp/web-resources/.gitignore
/uw_server/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/uw_server/target/m2e-wtp/web-resources/META-INF/maven/com.jimi/uw_server/pom.properties
/uw_server/target/m2e-wtp/web-resources/META-INF/maven/com.jimi/uw_server/pom.xml
/uw_server/target/m2e-wtp/web-resources/META-INF/maven/uw/uw/pom.properties
/uw_server/target/m2e-wtp/web-resources/META-INF/maven/uw/uw/pom.xml
/uw_server/target/m2e-wtp/web-resources/META-INF/maven/uw_server/uw_server/pom.properties
/uw_server/target/m2e-wtp/web-resources/META-INF/maven/uw_server/uw_server/pom.xml
/uw_server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/uw_server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/uw_server/target/tomcat/conf/logging.properties
/uw_server/target/tomcat/conf/tomcat-users.xml
/uw_server/target/tomcat/conf/web.xml
/uw_server/target/tomcat/logs/access_log.2018-06-12
/uw_server/target/tomcat/logs/access_log.2018-06-13
/uw_server/target/tomcat/logs/access_log.2018-06-14
/uw_server/target/tomcat/work/Tomcat/localhost/uw_server/org/apache/jsp/index_jsp.java
/uw_server/WebContent/
/Document/技田AGV/~$AGV接口文档.docx
/Document/技田AGV/~$AGV接口文档.docx
Servers/
uw_server/bin/
/AGVMockServer/.settings
/AGVMockServer/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/AGVMockServer/target/m2e-wtp/web-resources/META-INF/maven/cc.darhao/AGVMockServer/pom.properties
/AGVMockServer/target/m2e-wtp/web-resources/META-INF/maven/cc.darhao/AGVMockServer/pom.xml
/AGVMockServer/target/m2e-wtp/web-resources/META-INF/maven/cc.darhao/WsTest/pom.properties
/AGVMockServer/target/m2e-wtp/web-resources/META-INF/maven/cc.darhao/WsTest/pom.xml
/AGVMockServer/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/AGVMockServer/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/AGVMockServer/target/tomcat/conf/logging.properties
/AGVMockServer/target/tomcat/conf/tomcat-users.xml
/AGVMockServer/target/tomcat/conf/web.xml
/AGVMockServer/target/tomcat/logs/access_log.2018-06-15
/AGVMockServer/target/tomcat/logs/access_log.2018-06-26
/AGVMockServer/target/tomcat/logs/access_log.2018-06-27
/AGVMockServer/target/tomcat/logs/access_log.2018-06-30
/AGVMockServer/target/tomcat/logs/access_log.2018-07-02
/AGVMockServer/target/tomcat/logs/access_log.2018-07-03
/AGVMockServer/target/tomcat/logs/access_log.2018-07-04
/AGVMockServer/target/tomcat/work/Tomcat/localhost/AGVMockServer/org/apache/jsp/index_jsp.java
/AGVMockServer/target/tomcat/work/Tomcat/localhost/WsTest/org/apache/jsp/index_jsp.java
/AGVMockServer/target/
/AGVMockServer/.classpath
/AGVMockServer/.project
/AGVMockServer/target/tomcat/logs/access_log.2018-07-05
/AGVMockServer/target/tomcat/logs/access_log.2018-07-09
/uw_server/.classpath
/uw_server/.project
/AGVMockServer/.classpath
/AGVMockServer/bin/
